/* You can add global styles to this file, and also import other style files */
.p-card{
  margin-bottom: 15px;

}

.p-button.p-button-icon-only {
  background: white;
  width: 55px;
  color: black;
  border: 1px solid #FFF;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  margin-left: 5px;
  
}

.pi {
  font-size: 1rem;
  margin-right: 5px;
}
.p-button{
  background: white;
  margin-left: 20px;
  color: darkblue;
  height: 3rem;
  border: 1px solid lightcyan


}
.alinhamento {
  margin-top: 2em;
  text-align: center;
}

.button-success {
  background-color: #17882c !important;
  border: 2px solid #17882c !important;
  width: 30% !important;
}
.p-grid {
  margin-top: 25px;
  justify-content: center;
}

.button-danger {
  background-color: #e60000 !important;
  border: 2px solid #e60000 !important;
  float: left;
  width: 30% !important;
}

.p-fieldset .p-fieldset-legend {
  border: none;
  background: none;
}


input{
  margin: 1opx;
}